<h3>Nearby</h3>
<ul>
	<% users.each(function(user) { %>
	<li>
		<div>
			<img src="http://graph.facebook.com/<%= user.escape("uid") %>/picture?type=square" class="pull-left" />
			<h4><%= user.escape("name") %></h4>
			<% if(user.get("facts")) { %>
				<ul>
					<% console.log(user.get("facts")); %>
	        <% user.get("facts").each(function(fact) { %>
	        	<li><%= fact.escape("content") %></li>
					<% }); %>
				</ul>
			<% } %>
		</div>
	</li>
	<% }); %>
</ul>