<div class="splash text-center">
		<h1 class="logo black">FatPenguin</h1>
		<i>Breaking the ice since 2013.</i>
		<br />
			<%= link_to "<i class='icon-facebook'></i> | Connect with Facebook".html_safe, signin_path, :class => "btn btn-facebook" %>
</div>
<style type="text/css" media="screen">

body {
	background-image:url('<%= image_path 'wallpaper.jpg' %>');
	background-size: 100%;
	background-repeat: no-repeat;
}


@media screen and (max-width: 500px) {
	body {
		background-image:url('<%= image_path 'wallpaper-port.jpg' %>'); 
		padding-top: 60px; 
	}
}
</style>